.uh {
  border: 1px solid red;
}

body, .shape {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Lato', sans-serif;
  color: #103942;
  z-index: 100;
}
.shape {
  height: 1600px;
  width: 1600px;
  position: fixed;
  border-radius: 50%;
  transform: translate(-30%, 12%);
  z-index: -100;
}

.bold {
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
	}
	50% {
    background-position: 100% 50%;
	}
	100% {
    background-position: 0% 50%;
	}
}

#header {
  /* position: sticky; */
  padding: 10px 20px;
  top: 0;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  color: #103942;
}


a {
  margin: 0px 5px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #103942;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
  scale: 1.05;
}
a:active {
  text-decoration: none;
}


.nav-container {
  justify-content: space-between;
}
#nav-logo {
  margin: 10px;
  font-family: 'Righteous', cursive;
}


.page-container {
  padding: 10%;
  padding-top: 60px;
}

.fixed-column {
  width: 30%;
  position: fixed;
  top: 130px;
  left: 10%;
}
.content-column {
  width: 50%; 
  margin-left: 50%; 
  box-sizing: border-box;
}

.event-image {
  width: 100%;
  aspect-ratio: 1 / 1 ;
  object-fit: cover;
  /* border-radius: 10px; */
}

.avatar-container {
  margin-top: 7.5px;
  margin-right: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.center-column {
  justify-content: center;
}


.buffer {
  padding: 20px;
}

.margin {
  margin-top: 40px;
}

.item-listing {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2px;
}

#item-listing-content {
  margin-left: 4px;
}



#event-title, #reg-title, #title {
  font-size: 36px;
  font-family: 'Righteous', cursive;
}
#reg-title {
  margin-top: 0px;
}
.event-date, .event-time {
  margin: 0px 0px 10px 0px;
}

.card {
  /* background-color: rgba(255,255,255,0.13); */
  /* border-radius: 10px; */
  backdrop-filter: blur(20px);
  /* border: 2px solid rgba(255,255,255,0.1); */
  /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
  box-shadow: 0 0 40px rgba(8,7,16,0.1);
  padding: 35px;
  height: 100%;
}
.card-container {
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: stretch;
  gap: 20px;
}
.home-cards {
  width: 250px;
  margin: 0px 25px 25px 0px;
}

form {
  width: 400px;
}
form *{
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input, textarea{
  display: block;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}
textarea {
  resize: vertical;
  height: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 15px;
}

/* Icons */
.pin {
  width: 25px ;
  height: 25px ;
  background-color: #6c7779 ;
  border-radius: 60px 60px 0px 60px ;
  position:relative ;
  transform: rotate(45deg);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 15px;
}
.pin::after {
  content: "" ;
  width: 10px ;
  height: 10px ;
  background: #103942 ;
  position: absolute ;
  left: 26% ;
  top: 26% ;
  border-radius: 60px ;
}
.lock {
  background: #6c7779;
  border-radius: 3px;
  width: 20px;
  height: 15px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
  position: relative;
}
.lock:before {
  content: "";
  display: block;
  position: absolute;
  border:3px solid #6c7779;
  top: -12px;
  left: 2.2px;
  width: 10px;
  height: 20px;
  border-radius: 35px 35px 0 0;
}

button {
  background-color: transparent;
  border: 1px solid #103942;
  color: #103942;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  border-radius: 10px;
  transition-duration: .2s;
}
button:hover {
  background-color: #6c7779;
  border: 1px solid #6c7779;
  opacity: 100%;
  color: white
}
.button-span {
  width: 100%;
  margin-top: 10px;
}
.button-flip {
  color: white;
  background-color: #103942;
  border: 1px solid #103942;
}
.button-flip:hover {
  background-color: #6c7779;
  border: 1px solid #6c7779;
}
.delete-item-btn {
  border: none;
}
.delete-item-btn:hover {
  background-color: transparent;
  border: none;
}
.over {
  opacity: .6;
} 

/* .events-container {
  width: 75%;
  max-width: 850px;
  min-width: 500px;
  justify-content: space-between;
} */

/* .attending-card-container {
  width: 30%;
}

.hosting-card-container {
  width: 65%;
} */

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2,
h3,
h4 {
  margin: 0;
}




.card, .main-card, .attend-card {

  background-color: #ffede5;
  filter: drop-shadow(1px 1px 2px #c7b6be);
  margin: 20px 0px;
  border-radius: 10px;
}

.main-card:hover,
.attend-card:hover {
  transform: scale(1.05);
  filter: drop-shadow(10px 10px 20px #c7b6be);
}

.event-card:hover {
  opacity: 0.6;
}



.events-container {
  width: 75%;
  max-width: 850px;
  min-width: 500px;
  justify-content: space-between;
}

.attending-card-container {
  width: 30%;
}

.hosting-card-container {
  width: 65%;
}

.uhh {
  border: 2px solid red;
}





.col {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#register-button,
#login-btn,
#reg-btn,
#sub-btn,
.share-event-button,
#edit-btn,
#delete-btn,
#copy-btn,
#sub-btn-2,
.signin-btn,
.register-btn,
#rsvp-btn {
  width: 100px;
  text-align: center;
  background-color: #fff6f2;
  border: 2px solid #89abb4;
  color: #89abb4;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
}

#register-button:hover,
#login-btn:hover,
#reg-btn:hover,
#sub-btn:hover,
.share-event-button:hover,
#copy-btn:hover,
#edit-btn:hover,
#delete-btn:hover,
#sub-btn-2:hover,
.signin-btn:hover,
.register-btn:hover,
#add-btn:hover,
#delete-item-btn:hover,
#rsvp-btn:hover {
  background-color: #89abb4;
  color: #fff6f2;
}

.the-btn,
#login-button {
  text-align: right;
  margin: 8px 30px;
}

.hello,
.things {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 30px;
}

.input-reg {
  width: 30vw;
}

.login-input {
  width: 275px;
}

.new-user {
  margin: 8px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newbie {
  margin: 0px 50px 0px 0px;
}

#homepage-header {
  margin: 40px;
  color: #103942;
  border: 2px solid rgba(137, 171, 180, 0.6);
  padding: 10px 50px;
  background-color: rgba(137, 171, 180, 0.6);
  border-radius: 10px;
}

.event-name {
  border-bottom: 2px solid #89abb4;
  margin: 5px 0px 10px 0px;
  color: #103942;
}

.title {
  margin: 0px 0px 0px 0px;
  color: #103942;
  border: 2px solid rgba(137, 171, 180, 0.6);
  padding: 3px;
  background-color: rgba(137, 171, 180, 0.6);
  border-radius: 8px;
}

.details-description {
  color: #103942;
}

.dateLoc {
  display: grid;
  grid-template-columns: [col1-start] 50% [col1-col2] 50% [col2-end];
  justify-content: space-between;
}

.date-card {
  text-align: left;
}

.loc-card {
  text-align: right;
}

#new-event-logo {
  color: #103942;
}

.the-form {
  color: #103942;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.e-name,
.e-date,
.e-loc,
.e-des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#eventName {
  margin: 10px;
}

#description {
  margin: 0px 0px 0px 40px;
}

.sub-event-btn {
  text-align: center;
}

input[type='text'],
textarea,
input[type='datetime-local'],
input[type='password'] {
  border: 2px solid #fdd1b6;
  background-color: solid #fff6f2;
}

.event-detail-header,
.your-event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#event-name {
  margin: -10px;
}

#edit-btn,
#delete-btn {
  margin: 0px 0px 10px 10px;
}

.edit-and-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#date,
#location,
#description {
  margin: 10px;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.share-deets,
.share-section {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-bottom: 5px;
}

#add-btn,
#delete-item-btn {
  width: 50px;
  text-align: center;
  background-color: #fff6f2;
  border: 2px solid #89abb4;
  color: #89abb4;
  padding: 2px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.2s;
  margin: 0px 0px 0px 10px;
}

#delete-item-btn {
  width: 25px;
}

.items-list-of-things {
  margin: 10px 5px 5px 20px;
}


.comment {
  background-color: rgba(137, 171, 180, 0.3);
  border-radius: 10px;
}

.comment-header,
.comment-content,
.comment-date {
  margin: 20px 20px;
}

.comment-date {
  text-align: right;
}

#potlucky:hover {
  color: #fab4b6;
}

.attendee-listing {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 20px 10px;
}

#attendee-listing-content {
  margin: 10px;
}

#attendee-listing-content:hover {
  transform: scale(1.05);
}

.indent {
  margin: 10px 0px 20px 10px;
}

.bring-me {
  margin: 5px 5px 5px 10px;
}

.flex-start {
  align-items: flex-start;
}

.over {
  opacity: .5;
} */
